.photo-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: justify;
  gap: 1%;
  list-style-type: none;
  width: 100%;
}

.photo-list:after {
  content: "";
  flex: 0 1 30%;
  margin: 5px;
}