.photo-details-modal {
  background-color: white;
  box-shadow: 0 0 0 50vmax rgba(0,0,0,.5);
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 75%;
  overflow-y: scroll;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-details-modal__image-container {
  border-width: 2px;
  border-color: lightgrey;
  border-style: solid;
  border-radius: 8px;
  padding: 1%;
}

.photo-details-modal__close-button {
  background-color: white;
  position: absolute;
  top: 0%;
  left: 0%;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  margin-left: 16px;
  margin-top: 16px;
}

.photo-details-modal__images {
  margin: 1% 2%;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.photo-details-modal__image {
  max-width: 100%;
  max-height: auto;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.photo-details-modal__top-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 16px;
  margin-top: 8px;
  align-items: center;
}

.photo-details-modal__photographer-details {
  display: flex;
  flex-direction: row;
  margin: 1% 0%;
}

.photo-details-modal__profile {
  width: auto;
  height: 300px;
  clip-path: circle();
  margin-right: 8px;
}

.photo-details-modal__user {
  display: flex;
  flex-direction: column;
  justify-content: center;
  .photo-details-modal__photographer-name {
    font-size: 64px;
    font-weight: 700;
    color: #1e1e1e;
    margin-bottom: 4px;
  }
  .photo-details-modal__photographer-location {
    font-size: 32px;
    font-weight: 500;
    color: #838383;
  }
}



.photo-details-modal__header {
  font-size: 18px;
  font-weight: 500;
  color: #1e1e1e;
  margin-top: 24px;
  margin-bottom: 24px;
  width: 90%;
}