

.photo-list__item {
  margin: 24px;
  padding: 8px;

  max-width: fit-content;
  max-height: fit-content;
}

.photo-list-item__image-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  border-width: 1px;
  border-color: lightgrey;
  padding: 2%;
  border-style: solid;
  border-radius: 8px;
  max-width: 500px;
  max-height: 500px;
}



.photo-list__image {
  img {
    width: 100%;
    padding: 0.5%;
  }
  position: relative;
  border-radius: 20px;  
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  max-width: 100%;
  max-height: auto;
  object-fit: cover;
  margin-bottom: 0.5%;
}


.photo-list__user-profile {
  img {
    width: auto;
    height: 75px;
    clip-path: circle();
  }
  height: 75px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  width: 100%;
  margin-top: 2%;
  align-items: center;
}

.photo-list__user-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 12px;
}

.photo-list__user-info {
  font-weight: 700;
  color: black;
  margin-bottom: -7.5%;
}

.photo-list__user-location {
  margin-top: -7.5%;
  color: #838383;
}